body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #e09, #d0e);
    color: #333;
    transition: background-color 0.3s ease;
}

body.active {
    background: linear-gradient(135deg, #2c3e50, #3498db); /* New background gradient when active */
}

.container {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container.active {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #8e44ad;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none;
}

button.active {
    background-color: #e67e22;
    transform: translateY(-3px) scale(1.1);
}

button:hover {
    background-color: #732d91;
}

#text {
    margin-bottom: 20px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.container.active #text {
    color: #8e44ad;
}
